* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(90deg, gray, black);
}

.img-div {
  display: grid;
  place-items: center;
  overflow: hidden;
}

.img-div img {
  border-radius: 20px;
}

.details {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.overview {
  width: 90%;
  max-width: 70%;
  margin: auto;
}
